$bg: #fff
$fg: #000
$sel: #00f
$moving: #f00
$selmoving: #f0f


body, html
  color: $fg
  background-color: $bg
  height: 100%
  margin: 0
  padding: 0
  display: -webkit-flex
  display: flex
  -webkit-flex-direction: column
  flex-direction: column

  section
    display: -webkit-flex
    display: flex
    -webkit-flex: 1
    flex: 1

    article
      -webkit-flex: 1
      flex: 1
      margin: 1em .5em

    aside
      display: -webkit-flex
      display: flex
      -webkit-flex-direction: column
      flex-direction: column
      margin: 1em .5em

  footer
    display: -webkit-flex
    display: flex

    h4
      -webkit-flex: 1
      flex: 1
      margin: 0
      padding: 0

      &:last-of-type
        text-align: right

svg
  box-shadow: 0 0 15px #aaa inset
  #grid
    path
      fill: transparent
      stroke: rgba(0, 0, 255, .12)

  .underlay.move
    cursor: move

  text
    dominant-baseline: central
    text-anchor: middle
    font-family: "sans"

  .link
    fill: none
    stroke: $fg

    &.selected
      stroke: $sel

  .element
    cursor: move

    .shape
      stroke: $fg
      fill: $bg

    &.moving
      .shape
        stroke: $moving

    &.selected
      .shape
        stroke: $sel

    &.selected.moving
      .shape
        stroke: $selmoving

  .overlay
    .selection
      fill: rgba(0, 0, 255, .05)
      stroke: rgba(0, 0, 255, .3)
      stroke-width: 2
