/* line 9, ../sass/umlaut.sass */
.hidden {
  display: none;
}

/* line 12, ../sass/umlaut.sass */
.draggable {
  cursor: move !important;
}

/* line 15, ../sass/umlaut.sass */
body, html {
  color: black;
  background-color: white;
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 26, ../sass/umlaut.sass */
body section, html section {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 35, ../sass/umlaut.sass */
body section header h2, html section header h2 {
  text-align: center;
  margin: 0;
}
/* line 39, ../sass/umlaut.sass */
body section section, html section section {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
/* line 47, ../sass/umlaut.sass */
body section section article, html section section article {
  -webkit-flex: 1;
  flex: 1;
  margin: 1em 0 0.5em;
}
/* line 52, ../sass/umlaut.sass */
body section section aside, html section section aside {
  margin: 1em 0.5em;
  width: 100px;
  text-align: center;
}
/* line 57, ../sass/umlaut.sass */
body section section aside .btn, html section section aside .btn {
  margin: 0 3px 6px 3px;
}
/* line 60, ../sass/umlaut.sass */
body section section aside .btn .glyphicon, html section section aside .btn .glyphicon {
  font-size: 20px;
}
/* line 63, ../sass/umlaut.sass */
body footer, html footer {
  display: -webkit-flex;
  display: flex;
}
/* line 67, ../sass/umlaut.sass */
body footer h4, html footer h4 {
  -webkit-flex: 1;
  flex: 1;
  margin: 0;
  padding: 0;
}
/* line 73, ../sass/umlaut.sass */
body footer h4:last-of-type, html footer h4:last-of-type {
  text-align: right;
}

/* line 76, ../sass/umlaut.sass */
#overlay {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 87, ../sass/umlaut.sass */
#overlay.visible {
  visibility: visible;
}
/* line 90, ../sass/umlaut.sass */
#overlay div {
  width: 30%;
  margin: 100px auto;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid black;
  padding: 15px;
  text-align: center;
}
/* line 98, ../sass/umlaut.sass */
#overlay textarea {
  border: 1px solid #888888;
  width: 100%;
  height: 75px;
}

/* line 103, ../sass/umlaut.sass */
svg {
  box-shadow: 0 0 15px #aaaaaa inset;
}
/* line 107, ../sass/umlaut.sass */
svg #grid path {
  fill: transparent;
  stroke: rgba(0, 0, 255, 0.12);
}
/* line 111, ../sass/umlaut.sass */
svg .underlay.move {
  cursor: move;
}
/* line 114, ../sass/umlaut.sass */
svg text {
  text-anchor: middle;
  font-family: "sans";
}
/* line 118, ../sass/umlaut.sass */
svg text tspan {
  dominant-baseline: text-before-edge;
}
/* line 121, ../sass/umlaut.sass */
svg .link {
  -webkit-transition: stroke-width 500ms;
  -moz-transition: stroke-width 500ms;
  -o-transition: stroke-width 500ms;
  transition: stroke-width 500ms;
  fill: none;
  stroke: black;
}
/* line 126, ../sass/umlaut.sass */
svg .link text {
  fill: black;
  stroke: none;
}
/* line 130, ../sass/umlaut.sass */
svg .link.selected {
  stroke: blue;
}
/* line 133, ../sass/umlaut.sass */
svg .link:hover {
  stroke-width: 3;
}
/* line 136, ../sass/umlaut.sass */
svg .element {
  cursor: move;
}
/* line 139, ../sass/umlaut.sass */
svg .element .shape {
  stroke: black;
  fill: white;
}
/* line 144, ../sass/umlaut.sass */
svg .element.moving .shape {
  stroke: red;
}
/* line 148, ../sass/umlaut.sass */
svg .element.selected .shape {
  stroke: blue;
}
/* line 152, ../sass/umlaut.sass */
svg .element.selected.moving .shape {
  stroke: magenta;
}
/* line 156, ../sass/umlaut.sass */
svg .overlay .selection {
  fill: rgba(0, 0, 255, 0.05);
  stroke: rgba(0, 0, 255, 0.3);
  stroke-width: 2;
}
