/* line 8, ../sass/umlaut.sass */
body, html {
  color: black;
  background-color: white;
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 19, ../sass/umlaut.sass */
body section, html section {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1;
  flex: 1;
}
/* line 25, ../sass/umlaut.sass */
body section article, html section article {
  -webkit-flex: 1;
  flex: 1;
  margin: 1em 0.5em;
}
/* line 30, ../sass/umlaut.sass */
body section aside, html section aside {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: 1em 0.5em;
}
/* line 37, ../sass/umlaut.sass */
body footer, html footer {
  display: -webkit-flex;
  display: flex;
}
/* line 41, ../sass/umlaut.sass */
body footer h4, html footer h4 {
  -webkit-flex: 1;
  flex: 1;
  margin: 0;
  padding: 0;
}
/* line 47, ../sass/umlaut.sass */
body footer h4:last-of-type, html footer h4:last-of-type {
  text-align: right;
}

/* line 50, ../sass/umlaut.sass */
svg {
  box-shadow: 0 0 15px #aaaaaa inset;
}
/* line 53, ../sass/umlaut.sass */
svg #grid path {
  fill: transparent;
  stroke: rgba(0, 0, 255, 0.12);
}
/* line 57, ../sass/umlaut.sass */
svg .underlay.move {
  cursor: move;
}
/* line 60, ../sass/umlaut.sass */
svg text {
  dominant-baseline: central;
  text-anchor: middle;
  font-family: "sans";
}
/* line 65, ../sass/umlaut.sass */
svg .link {
  fill: none;
  stroke: black;
}
/* line 69, ../sass/umlaut.sass */
svg .link.selected {
  stroke: blue;
}
/* line 72, ../sass/umlaut.sass */
svg .element {
  cursor: move;
}
/* line 75, ../sass/umlaut.sass */
svg .element .shape {
  stroke: black;
  fill: white;
}
/* line 80, ../sass/umlaut.sass */
svg .element.moving .shape {
  stroke: red;
}
/* line 84, ../sass/umlaut.sass */
svg .element.selected .shape {
  stroke: blue;
}
/* line 88, ../sass/umlaut.sass */
svg .element.selected.moving .shape {
  stroke: magenta;
}
/* line 92, ../sass/umlaut.sass */
svg .overlay .selection {
  fill: rgba(0, 0, 255, 0.05);
  stroke: rgba(0, 0, 255, 0.3);
  stroke-width: 2;
}
